@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

.login-signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #2D9596, #9AD0C2);
}

.login-signup-form {
    background-color: white;
    padding: 3rem;
    padding-top: 1rem;
    border-radius: 1.25rem;
    box-shadow: 0rem 0.3rem 0.8rem rgba(0, 0, 0, 0.397);
    width: 41rem;
}

.login-signup-title {
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Roboto Flex', sans-serif;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-signup-button {
    display: inline-flex;
    width: 100%;
    background-color: #2D9596;
    color: white;
    border-radius: 0.4rem;
    border: none;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 600;
}

.login-signup-button:hover {
    background-color: rgb(11, 109, 84);
}

.footer-link {
    font-size: 1.6rem;
    color: #2D9596;
    text-decoration: none;
    font-family: 'Roboto Flex', sans-serif;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: rgb(11, 109, 84);
    text-decoration: underline;
}

.label-of-form {
    font-size: 1.65rem;
    text-align: center;
    padding-bottom: 2.4rem;
}

.link-to-login {
    text-align: center;
    display: block;
    padding-top: 1rem;
    font-size: 1.45rem;
    color: black;
    font-weight: lighter;
}

.link-to-login:hover {
    text-decoration: underline;
}

.otp-input-container {
    display: flex;
    justify-content: center;
    gap: 1.4rem;
    padding-bottom: 1.8rem;
    padding-top: 1rem;
  }
  
.otp-input {
    width: 4rem;
    height: 5.4rem;
    text-align: center;
    font-size: large;
    border: 0.1rem solid gray;
    border-radius: 0.4rem;
}
  
.resend-container {
    text-align: center;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}
  
.resend-content {
    color: #2D9596;
    padding: 0.8rem;
}

.resend-content:hover {
    font-weight: bold;
    cursor: pointer;
}

.label-for-pass {
    padding-bottom: 1.4rem;
    font-weight: 500;
    color: #265073;
}

.error-text {
    color: red;
}
