@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

/* Ẩn icon mặc định */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
}

.input-container {
    margin-bottom: 1.5rem;
}

/* Định dạng lại nhãn cho phù hợp với Material-UI */
.input-container .MuiInputLabel-root {
    align-items: center;
    text-align: center;
    margin-bottom: 0.3125rem;
    font-size: 2rem;
    font-family: 'Roboto Flex', sans-serif;
}

/* Viền đỏ khi có lỗi */
.MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: red;
}

.MuiFormHelperText-root.Mui-error {
    color: red; /* Đặt màu chữ lỗi thành đỏ */
}
