@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

/* Ẩn icon mặc định */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
}

.input-container {
    margin-bottom: 1.5rem;
}

.input-container .MuiInputLabel-root {
    align-items: center;
    text-align: center;
    margin-bottom: 0.3125rem;
    font-size: 2rem;
    font-family: 'Roboto Flex', sans-serif;
}