.Listitem {
    display: flex;
    align-items: center;
    gap: 16px;
    background: hsla(163, 36%, 71%, 0.288);
    height: 295px;
    padding-bottom: 7px;
    overflow-x: auto;
    border-radius: 3px;
}
.Listitem li {
    display: flex;
}