.Container {
    width: 1160px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.Workspaces {
height: 291px;
}

.Workspaces h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.7;
    margin-bottom: 8px;
    letter-spacing: 0.94;
    margin-top: 8px;
}
.AllDeadline {
    margin-top: 25px;
    position: relative;
}
.AllDeadline::before {
    content: "";
    position: absolute;
    background: #888;
    height: 1px;
    width: 230px;
    bottom: 46px;
}
.mWorkspace {
    font-size: 3rem;
}
