.Container {
    width: 1160px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.Workspaces {
    height: 273.15px;
}

.Workspaces h1 {
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 2.0;
    margin-bottom: 4px;
    letter-spacing: 0.94;
    margin-top: 8px;
}

.AllDeadline {
    margin-top: 20px !important;
    position: relative;
}

.AllDeadline::before {
    content: "";
    position: absolute;
    background: #888;
    height: 1px;
    width: 230px;
    bottom: 40px;
}
