.Header {
    height: 45px;
    background: #2D9596;
    z-index: 1;
    position: sticky;
    top: -44px;
}
.Header p {
    color: white;
}
.Header ul, .Header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Header li > p{
    height: 20px;
}
.Logo {
    margin-left: 15px;
}
.Navigation {
    display: inline-block;
    margin-left: auto;
}
.Navigation li {
    padding: 8px 22px;
    line-height: 1.6;
    letter-spacing: 0.5;
    font-size: 1.5rem;
    font-weight: 500;
}
.Tools {
    margin-left: 50px;
    margin-right: 15px;
    display: flex;
    gap: 16px;
}
.Setting, .Notifications {
    font-size: 1.47em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Account {
    width: 28px;
    height: 28px;
    border: 1px solid #3333;
    border-radius: 50%;
    background: #6666;
    display: flex;
    align-items: center;
    justify-content: center;
}